@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* header */
header {
  background-color: white;
  width: 100%;
  position: fixed;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
/* logo */
.logo {
  position: relative;
  background-color: tomato;
  width: 2.8em;
  height: 2.8em;
  text-align: center;
  color: white;
  font-weight: bolder;
  right: 8.9em;
  top: 2em;
}
.logo p {
  margin: 11px 0px 0px 0px;
}

.menu ul {
  list-style-type: none;

  font-family: "Roboto", sans-serif;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  color: #333;
  text-decoration: none;
  padding: 9px;
  font-size: 11px;
}
.menu li a:hover {
  background-color: rgb(243, 243, 244);
}
.primera_seccion {
  background-color: black;
}

.contenedor_primera_seccion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
  z-index: 1;
}

.contenedor_primera_seccion img {
  filter: blur(5px) grayscale(1); /* Desenfoque */
  width: 118em;
  height: 100vh;
}
.contenido_primera_seccion {
  position: absolute;
  z-index: 2;
  top: 17em;
  left: 18em;
}

.redes_sociales {
  display: flex;
  justify-content: space-between;
  width: 7.5em;
}
.boton-circulo {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgb(205, 205, 207); /* Color de fondo del botón */
  color: rgb(47, 52, 58); /* Color del texto del botón */
  border: none; /* Quitar borde del botón */
  cursor: pointer;
}

.primera_seccion h1 {
  color: white;
  font-size: 3em;
  margin-top: 1em;
  font-family: "Montserrat", sans-serif;
}
.primera_seccion h2 {
  font-family: "Rubik", sans-serif;
  margin-top: 0.6em;
  position: relative;
  color: white;
  font-size: 37px;
  border-right: 4px white;
  border-left: 4px white;
  border-top: 1px grey;
  border-bottom: 1px grey;
  border-style: solid;
  width: 7em;
  padding: 10px 46px 10px 13px;
}
.primera_seccion h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top-color: white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -116px;
  margin-bottom: -17px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid white;
}

.scroll button {
  background-color: tomato;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 1.5em;
  color: white;
  font-size: 3em;
}

.segunda_seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(10, 12, 24);
  height: 100vh;
}
.segunda_seccion h1 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.5em;
}

.garabatos {
  display: flex;
  justify-content: space-around;
  width: 90px;
}
.garabatos p {
  font-size: 20px;
  font-family: "Codystar", cursive;
  color:tomato
}

.lineas_decorativas {
  border-top: 1px solid rgb(116,55,49);
  width: 21px;
  position: relative;
  top: 10px;
}

.contenedor_segunda_seccion {
  margin-top: 1em;
  height: 410px;
  width: 800px;
 display: flex;
  flex-wrap: wrap;
}
.cajas {
  background-color: rgb(18, 20, 28);
  width: calc(33.33% - 10px);
  height: calc(50% - 10px);
  margin: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  filter: invert(48%) sepia(18%) saturate(1975%) hue-rotate(323deg) brightness(87%) contrast(84%);
  width: 2.5em;
  height: 2.5em;
  margin-top: 0.5em;
}
.cajas h2 {
  font-family: "Roboto", sans-serif;
  margin-top: 0.5em;
  font-size: 1.2em;
}
.cajas p {
  margin-top: 1em;
  text-align: center;
  font-size: 10px;
  color: rgb(118, 127, 133);
}

/* background-color: rgb(18,20,28) */
